@(articles: List[ArticleWithTweets])(implicit lang: Lang) 
@main(Messages("application.name")) { 
  <div class="eight columns">
    @for(awt <- articles) {  
      <div class="panel">
      <div class="row">
        <div class="twelve columns subheader"><a href="@awt.article.url" target="_blank">@awt.article.info.get._1</a></div> 
        <div class="twelve columns summary">@awt.article.domain - @awt.article.info.get._2 ...</div>
      </div>
      @for(tweet <- awt.tweets) {  
        <div class="row">
          <div class="column"><img src="@tweet.getUser.getProfileImageURL" alt="@tweet.getUser.getScreenName"></div>
          <div class="ten columns">
            <a href="@tweet.getUser.getURL">@tweet.getUser.getName</a> - @tweet.getText<br/>@tweet.getCreatedAt
          </div> 
        </div>
      }
      </div>
    } 
  </div> 
} 

