@(articles: List[Article])(implicit lang: Lang) 
@main(Messages("application.name")) { 
  <div class="panel eight columns">
    @for(article <- articles) {  
      <div class="row">
        <div class="twelve columns subheader"><a href="@article.url" target="_blank">@article.info.get._1</a></div> 
        <div class="twelve columns">@article.domain - @article.info.get._2 ...</div>
      </div>
      @for(tweet <- article.tweets) {  
        <div class="row">
          <div class="two columns"><img src="@tweet.getUser.getProfileImageURL" alt="@tweet.getUser.getScreenName"></div>
          <div class="ten columns">@tweet.getText</div> 
        </div>
      }
      <div class="ten columns centered"><hr></div>
    } 
  </div> 
} 

