@(title: String)(content: Html)(implicit lang: Lang)  
<!DOCTYPE html> 
<html> 
<head> 
  <title>@title</title>  
  <link rel="stylesheet" type="text/css" media="screen" 
     href='@routes.Assets.at("stylesheets/foundation.css")'> 
  <link rel="stylesheet" type="text/css" media="screen" 
     href="@routes.Assets.at("stylesheets/app.css")"> 
</head> 
<body class="off canvas">
  <div class="container top-bar home-border header">
      <a href="@routes.Application.index()"> 
        @Messages("application.name") 
      </a> 
  </div>
  <div class="row"> 
    <section role="main"> 
      @content  
      @debug()
    </section> 
  </div> 
</body> 
</html>
